header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    background-color: white;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 4px 2px -2px gray;
}

.navbar-brand {
    font-size: 1.25rem;
}

.navbar-toggler {
    border: none;
}

.navbar-collapse {
    justify-content: space-between;
}

.nav-link {
    color: #333;
}


.search-results {
    display: none; 
}

.search-input:focus + .search-results {
    display: block; 
}

.search-results:hover{
    display: block;
}

.dropdown-content {
    position: absolute; /* Đặt vị trí tuyệt đối cho dropdown */
    z-index: 1000; /* Đặt z-index cao để hiển thị trên các phần tử khác */
    width: 100%; /* Đảm bảo dropdown chiếm toàn bộ chiều rộng */
    background-color: white; /* Thay đổi màu nền nếu cần */
    border: 1px solid #ccc; /* Thêm viền cho dropdown */
    max-height: 200px; /* Thiết lập chiều cao tối đa */
    overflow-y: auto; /* Thêm cuộn nếu cần */
    top: 100%;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
}

.btn-search:hover{
    color: black;
}

.suggestion:hover {
    background-color: #f4f4f4;
}

.search-bar {
top: 50%;
transform: translateY(-50%);
pointer-events: none;
}

.search-bar form {
    max-width: 300px;
    width: 100%;
    pointer-events: auto;
}



.user-info {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 50px;
}


.user-info h6 {
    color: white; 
    margin: 0px!important ;
}


.avatar-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    transition: transform 0.2s ease;
    border-radius: 50%; 
    border: 2px solid #ccc;
    padding: 3px;
}


.avatar-img:hover {
    transform: scale(1.1);
}


.menu {
    position: absolute;
    top: 100%;
    left: 90%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 2000;
    width: 150px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li, .menu button {
    padding: 0;
    margin: 0;
}

.menu li a, .menu li button {
    text-decoration: none;
    color: black;
    display: block;
    border: none;
    background: none;
    cursor: pointer; 
    padding: 10px 16px;
    width: 100%;
    box-sizing: border-box;
}
.menu li button{
    text-align: left
}
.menu li a:hover, .menu li button:hover {
    background-color: gray;
    color: aliceblue;
}

.logo-img {
    max-width: 120px;
    height: auto;
  }

.btn-black-white {
    background-color: black; 
    border: 2px solid white;  
    color: white;    
}

.btn-black-white:hover {
    color: white;    
}

.chat-icon{
    background-color: white;
    color: black;
    padding: 3px 10px;
    font-size: 20px;
    text-align: center;
    position: relative;
    font-size: 24px;
    cursor: pointer;
}


  
  .unread-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .no-invoices {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* hoặc 100vh nếu bạn muốn giữa toàn màn hình */
    font-size: 1.5rem;
    font-weight: 500;
    color: #888;
    margin-top: 20px;
    text-align: center;
}